
$borderTableColor:black;
  
@page {
  size:210mm 297mm;
  margin:0;
}


.A4{
  width:209mm;
  height:296mm;
  padding:15mm;
  page-break-inside: avoid;
  .A4-content{
    width:100%;
    height:100%;
  }
}

.table-print-root[landscape]{
  .A4{
    width:296mm;
    height:209mm;
  }
}



@media print{

  body > *:not(.table-print-root){
    display:none !important;
  }

  html,body{
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    outline: 0 !important;
  }

}
@media screen{
  .table-print-src{
    position: relative;
    margin:20px;
  }
  .A4{
    border:1px dashed red;
    .A4-content{
      border:1px dashed green;
      padding:2px;
    }
  }
}

.table-print-dialog{
  *{
    position: relative;
    box-sizing: border-box;
  }
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  left:0;
  top:10px;
  width:70%;
  height:720px;
  // height:70%;
  background-color: white;
  overflow: scroll;
  transform: translateX(25%);
  // border:5px solid black;
  box-shadow: 0px 0px 10px 2px #555;
  padding:24px 4px;
  .table-print-dialog-title{
    padding:8px 0;
  }
  .table-print-dialog-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;

    .table-print-dialog-btn-ok,
    .table-print-dialog-btn-cancel{
      min-width:32px;
      height: 32px;
      padding:0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1890ff;
      color:white;
      border-radius: 4px;
      font-size: 14px;
      &:not(:last-child){
        margin-right: 4px;
      }

    }
  }

  

}

.table-print-src{
  .table-print-src-content{
    width:100%;
    height:100%;
  }
}




.table-print-root{
  position: relative;
  *{
    position: relative;
    box-sizing: border-box;
  }

  table{
    width:100%;
    border:2px solid $borderTableColor;
    border-collapse:collapse;  
    border-spacing:0; 
  }
  table+table{
    border-top: 0;
  }

  th,
  td
  {
    padding:10px;
    border-bottom:1px solid $borderTableColor;
    border-right:1px solid $borderTableColor;
  }
  th:last-child ,
  td:last-child {
    border-right:0;

  }

  tr:last-child td{
    border-bottom: 0;
  }  

  h1,
  footer,
  header{
    text-align: center;
  }

  footer{
    position: absolute;
    bottom:-40px;
    left:0;
    width:100%;
    page-break-inside: avoid;
    z-index: 2;
  }

}


// .splitPage{
//   page-break-after:always;
// }

.table-print-footer-content{
  text-align: center;
  font-size: 12px;
  width:100%;
}
.table-print-header-content{
  text-align: center;
  font-size: 12px;
  width:100%;
  border-bottom:1px solid #888;
}
.table-print-water-box{
  position:absolute;
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center;
  width:1px;
  height:1px;
  transform-origin: center;
  left:0;bottom:0;
}
.table-print-water{
  width:200px;
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:28px;
  span{
    font-size:inherit;
    color:inherit;
  }
  color:#ccc;
  opacity: .8;
  border:4px solid #ccc;
  position: absolute;
}